body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#form-signin {
  .make-lg-column-offset(3);
  .make-lg-column(6);
  .make-xs-column(12);

  padding: 15px;
  margin: 0 auto;

  .form-signin-heading {
    margin-bottom: 10px;
  }


  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

    &:focus {
      z-index: 2;
    }
  }


  input.form-control {
    border-radius: 0;
    margin-top: -1px;
  }

  input {
    &#nombre {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &#password2 {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  button[type="submit"] {
    margin-top: 10px;
  }

}

#form-login {
  .make-lg-column-offset(3);
  .make-lg-column(6);
  .make-xs-column(12);

  padding: 15px;
  margin: 0 auto;

  .form-signin-heading {
    margin-bottom: 10px;
  }


  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

    &:focus {
      z-index: 2;
    }
  }


  input.form-control {
    border-radius: 0;
    margin-top: -1px;
  }

  input {
    &#email {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &#password {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  button[type="submit"] {
    margin-top: 10px;
  }

}